apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "todo-app.fullname" . }}-backend-config
  labels:
    {{- include "todo-app.labels" . | nindent 4 }}
    app.kubernetes.io/component: backend
data:
  JWT_ALGORITHM: {{ .Values.backend.env.JWT_ALGORITHM | quote }}
  CORS_ORIGINS: {{ .Values.backend.env.CORS_ORIGINS | quote }}
  ENVIRONMENT: {{ .Values.backend.env.ENVIRONMENT | quote }}
  OPENAI_BASE_URL: {{ .Values.backend.env.OPENAI_BASE_URL | quote }}
